@import url('@variables');

.service-detail-container {
  max-width: 1500px;
  margin: 50px auto;
  padding: 2rem;

  .service-detail-subcontainer {
    display: flex;
    align-items: flex-start;
    gap: 50px;
  }

  .tabs-nav {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    position: relative;

    .tab-item {
      cursor: pointer;
      padding: 0.8rem 1.2rem;
      user-select: none;
      transition: opacity 0.3s ease;
      opacity: 0.2;

      &:hover,
      &.active {
        color: var(--main-linear-gradient);
        opacity: 0.8;
        transition: opacity 0.3s ease;
      }

      &:focus {
        outline: none;
      }
    }

    .tab-line {
      position: absolute;
      border-radius: 12px;
      right: 0;
      width: 2px;
      background: var(--main-linear-gradient-vertical);
      transition: transform 0.3s ease;
    }
  }

  .service-detail-content-container {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    margin-bottom: 50px;
  }

  img {
    width: 500px;
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    margin-top: 50px;
  }

  h1 {
    margin-bottom: 40px;
  }

  h3 {
    margin-top: 1.5rem;
  }

  ul {
    padding-left: 1.5rem;
    list-style: disc;
  }

  .back-link {
    margin-left: 10px;
    background: var(--main-linear-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    position: relative;
    text-decoration: none;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 100%;
      background: var(--main-linear-gradient);
      transition: transform 0.3s ease;
      transform: scaleX(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }

  @media (max-width: 1500px) {
    .service-detail-content-container {
      flex-direction: column;
    }
  }

  @media (max-width: 1000px) {
    .service-detail-subcontainer {
      flex-direction: column;
      align-items: center;
    }


    img {
      margin-top: 0;
    }
  }
}
