@import url('@variables');

.background-logo-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  width: 100vw;
  height: 20vh;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  overflow: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  h1 {
    font-family: 'Noto Serif Display', sans-serif;
    color: var(--secondary-background-color);
    font-size: 9em;
    z-index: 1;
    position: absolute;
  }

  h2 {
    font-family: 'Amsterdam Four', sans-serif;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    z-index: 2;
    position: relative;
    padding: 0.4em 0.8em 0.8em 0.8em;
  }

  .title-container {
    position: absolute;
    z-index: 3;
    bottom: -0.4em;
    display: flex;
    align-items: center;
    width: 100%;
  }

  h3 {
    font-family: 'Playfair Display SC', sans-serif;
    font-size: 0.5em;
    padding: 0 0.3em;
  }

  .left-line,
  .right-line {
    height: 1px;
    background-color: black;
    width: 100%;
  }
}
