@import url('@variables');

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--main-background-color);
  overflow-x: hidden;
  padding-top: 80px;
  transition: 200ms;
  z-index: 3;
}

.show-sidenav {
  width: 250px;
}

#overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.sidenav a:active {
  background-color: var(--secondary-background-color);
}

.sidenav a,
.mobile-booking {
  padding: 8px;
  margin: 8px 15px;
  text-decoration: none;
  font-size: 1.5rem;
  display: block;
  transition: 0.3s;
  border-radius: 8px;
}

.mobile-nav-button {
  background-color: transparent;
  border: none;
  font-size: 3rem;
  margin-right: 15px;
  background: var(--main-linear-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sidenav .mobile-nav-button {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}

.mobile-booking {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  background: var(--main-linear-gradient);
  box-shadow:
    0 2px 2px rgba(0, 0, 0, 0.2),
    0 1px 3px rgba(0, 0, 0, 0.08);
  max-width: fit-content;
}
