@import url('@variables');

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;

  .contact-title {
    text-align: center;
  }

  .contact-body {
    display: flex;
    gap: 100px;
  }

  .contact-info,
  .contact-form {
    flex: 1;
  }

  .contact-info {
    padding: 20px;

    h2 {
      margin-bottom: 15px;
    }

    p {
      margin: 10px 0;
      font-weight: 400;
    }

    .contact-link {
      display: flex;
      align-items: center;
      gap: 30px;
      margin-bottom: 5px;
      p {
        border-bottom: 1px solid transparent;
        &:hover {
          border-bottom: 1px solid var(--main-text-color);
        }
      }
    }

    .icon {
      height: 30px;
    }
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    padding: 20px;

    h2 {
      margin-bottom: 15px;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;

      input,
      textarea {
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid var(--secondary-color);
        border-radius: 5px;
        font-size: 16px;
        min-width: 300px;
      }

      textarea {
        height: 200px;
        resize: none;
      }

      button {
        cursor: pointer;
        border: none;
        margin: 0;
        font-size: 16px;
        font-weight: 700;
        padding: 10px 5px;
        color: var(--main-text-color);
        width: 100%;
      }
    }
  }
}

.iframe-container {
  max-width: 1000px;
  width: 80%;

  iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: 0;
  }
}

@media (max-width: 768px) {
  .contact-container {
    .contact-body {
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
    .contact-body {
      gap: 0 !important;
    }
    .iframe-container {
      width: 110%;
    }
    .contact-form {
      padding: 0 20px !important;
    }
    .title {
      margin: 0;
    }
  }
}
