.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  gap: 20px;

  .contact-title {
    text-align: center;
  }

  .contact-body {
    display: flex;
  }

  .contact-info,
  .contact-form {
    flex: 1;
  }

  .contact-info {
    padding: 20px;

    h2 {
      margin-bottom: 15px;
      color: #333;
    }

    p {
      margin: 10px 0;
      font-size: 16px;
    }
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #ffffff;

    h2 {
      margin-bottom: 15px;
      color: #333;
    }

    form {
      display: flex;
      flex-direction: column;

      input,
      textarea {
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
      }

      textarea {
        height: 100px;
        resize: none;
      }

      button {
        border: none;

      }
    }
  }
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }
}
