@import url('@variables');

.header-nav-container {
  .basic {
    transition: 0.1s ease-in-out;
    background-image: var(--main-linear-gradient);
    background-size:
      0 2px,
      auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all 0.2s ease-out;
  }

  .basic:hover {
    background-size:
      100% 2px,
      auto;
  }

  .header-nav-elem:visited {
    text-decoration: none;
  }

  .header-nav-elem:active {
    text-decoration: none;
  }

}
.header-nav-elem {
  font-size: 16px;
  padding: 10px 5px;
  margin: 0 20px;
  color: var(--main-text-color);
}

.header-nav-elem:link {
  text-decoration: none;
}

.header-nav-elem:hover {
  text-decoration: none;
}
