@import url("./variables.css");

:root {
  font-family: 'Montserrat', sans-serif; 
  line-height: 1.5;
  font-weight: 400;
  color: var(--main-text-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

