@import url('@variables');

@font-face {
  font-family: 'Amsterdam Four';
  src: url('/fonts/AmsterdamFour.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Serif Display';
  src: url('/fonts/NotoSerifDisplayExtraCondensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display SC';
  src: url('/fonts/PlayfairDisplaySC.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Great Vibes';
  src: url('/fonts/GreatVibes.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
}

.title {
  font-size: 5rem;
  margin-bottom: 1rem;
  font-family: 'Great Vibes', sans-serif;
}

.action {
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  background: var(--main-linear-gradient);
  margin-left: 20px;
  border-radius: 8px;
  box-shadow:
    0 2px 2px rgba(0, 0, 0, 0.2),
    0 1px 3px rgba(0, 0, 0, 0.08);
}

.action::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  pointer-events: none;
  transition: opacity 0.2s ease;
  opacity: 0;
}

.action.glow::after {
  opacity: 1;
  background: radial-gradient(
    circle at var(--x, 50%) var(--y, 50%),
    rgba(255, 255, 255, 0.3) 10%,
    transparent 50%
  );
}
