@import url('@variables');

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 4;
  height: 91px;
  border-bottom: 1px solid var(--secondary-color);
  background-color: #fff;

  /* .header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--main-linear-gradient);
}
   */
  .logo-container {
    padding-top: 10px;
  }

  .logo {
    height: 91px;
  }

  .navigation-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
}
